:root{
    --fuente-primary: "Inter", sans-serif;


    /* color palette */
    --color-primary:  #001733;
    --color-secondary: #2488ff;
    --color-secondary-light: #9ac8fe;
    --color-tertiary:  #FFFEFF;
    --color-accent:  #9CE37D;
    --color-accent-two:  #FFFD82;
    --color-accent-three:  #ED217C;
    --color-accent-four:  #15d0e5;

    --color-brand-blue: #0072bb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fuente-primary);
    color: var(--color-primary);
    /* background-color: var(--color-primary); */
    /* font-optical-sizing: auto; */
    /* text-rendering: auto; */
    background-image: url("../images/img_bg_abstract.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}

/* --- Conservar header arriba y footer abajo ---*/
.container{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/* Barra de navegación */
.nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-tertiary);
    width: 100%;
}

.nav_logo {
    display: flex;
}

.nav_logo_img{
    height: 2.5rem;
    padding: 0.3rem;
    margin: 0 0.8rem;
}

.nav_logo_title{
    font-size: 1rem;
    line-height: 1;
    color: var(--color-primary);
}

.nav_theme{
    padding: 0.3rem;
    margin: 0 0.8rem;
    color: var(--color-primary);
}

/* Main*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_input,
.content_output{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Texto origen */
.input_rules,
.output_rules{
    font-size: 0.8rem;
    color: var(--color-tertiary);
    margin-bottom: 0.5rem;

}

.output_rules{
    color: transparent;
}

.input_frame,
.output_frame{
    width: 85%;
}

/* Texto resultado */
.input_text,
.output_text{
    width: 100%;
    height: 55vh;
    margin-bottom: 1rem;
    border: 3px solid var(--color-accent-four);
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.3rem;
    box-shadow: 0 0 5px #15d0e5;
    resize: none;
    background-color: rgba(255, 254, 255, 0.85);
}



.input_text:focus,
.output_text:focus{
    box-shadow: 0 0 10px var(--color-accent-four);
    outline: 1px solid white;

}

/* --- Botones ---*/

.button{
    padding: 0.6rem 1.2rem;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    width: 8rem;
    background-color: var(--color-tertiary);
}

.button:hover {
    background-color: var(--color-brand-blue); 
    color: white;
}

.button:active {
    background-color: hsl(213, 100%, 27%); 
}

/* --- Responsive designs --- */
/* --- Media query pantallas medianas */
@media screen and (min-width:1280px){
    
}


/* --- Media query pantallas pequeñas */
@media screen and (max-width:500px){

}





